* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif; }

body {
  background-color: #0a2248; }

body > section {
  margin-left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 120rem;
  height: 100vh; }
  body > section article {
    display: flex;
    flex-direction: column;
    height: 40%; }
    body > section article:nth-child(2) {
      height: 60%; }
    body > section article > div {
      display: flex;
      align-items: center; }
      body > section article > div:first-child {
        color: aliceblue;
        padding-left: 2rem;
        font-size: 3rem;
        height: 20%; }
      body > section article > div:nth-child(2) {
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #B0B0B0;
        border-radius: 2rem;
        background-color: #FFFFFF;
        width: 100%;
        height: 80%; }
        body > section article > div:nth-child(2).gameTable {
          margin-bottom: 4rem; }
        body > section article > div:nth-child(2) > div {
          overflow-y: scroll;
          height: calc(90% - 5rem);
          width: 104.5rem; }
          body > section article > div:nth-child(2) > div:first-child {
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 5rem; }
            body > section article > div:nth-child(2) > div:first-child > div:nth-child(1) {
              background-color: #FFFFFF; }
              body > section article > div:nth-child(2) > div:first-child > div:nth-child(1) > p {
                font-size: 2.4rem; }
          body > section article > div:nth-child(2) > div > div {
            position: relative;
            display: flex;
            align-items: center;
            height: 3.5rem; }
            body > section article > div:nth-child(2) > div > div > .viewBox {
              z-index: 2;
              position: relative;
              overflow: hidden;
              border: 1px solid #222;
              border-radius: 5rem;
              height: 2rem;
              width: 4.5rem; }
              body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff {
                cursor: pointer;
                transition: all .2s;
                left: calc(100% - 2rem);
                position: absolute;
                background-color: #FFFFFF;
                margin-left: -1px;
                margin-top: -1px;
                border-radius: 50%;
                border: 1px solid #222;
                width: 2rem;
                height: 2rem; }
                body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff::after {
                  margin-left: 1rem;
                  position: absolute;
                  z-index: -1;
                  height: 2.4rem;
                  width: 4.5rem;
                  background-color: #bababae9;
                  content: ""; }
                body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff::before {
                  margin-left: -1rem;
                  transform: translate(calc(-100% + 2rem), 0);
                  position: absolute;
                  z-index: -1;
                  height: 2.4rem;
                  width: 4.5rem;
                  background-color: #2C17A9;
                  content: ""; }
                body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff.turnOff {
                  left: 0; }
            body > section article > div:nth-child(2) > div > div > .buttonBox {
              display: flex;
              align-items: center;
              height: 100%;
              right: 0;
              position: absolute; }
              body > section article > div:nth-child(2) > div > div > .buttonBox > button {
                cursor: pointer;
                color: #FAFAFA;
                margin-right: .3rem;
                background-color: #2C17A9;
                border-radius: .5rem;
                font-size: 1.6rem;
                width: 7.3rem;
                height: 3rem;
                border: 0; }
                body > section article > div:nth-child(2) > div > div > .buttonBox > button:last-child {
                  background-color: #A91717; }
            body > section article > div:nth-child(2) > div > div > p {
              height: 100%;
              width: 24.3rem;
              font-size: 1.6rem;
              display: flex;
              align-items: center; }
              body > section article > div:nth-child(2) > div > div > p:nth-child(4) {
                width: 6rem; }
            body > section article > div:nth-child(2) > div > div:nth-child(odd) {
              background-color: #E3E3E3; }

/*# sourceMappingURL=admin.css.map */
