* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif; }

input, textarea {
  font-size: 1.6rem;
  outline: none; }

body {
  background-color: #0a2248; }

#gameAddBox {
  display: none;
  position: absolute;
  z-index: 100;
  height: 50.5rem;
  width: 70.5rem;
  left: 50%;
  top: 50%;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #B0B0B0;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #gameAddBox.displayFlag {
    display: flex; }
  #gameAddBox > div {
    width: 60rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem; }
    #gameAddBox > div.gameDescriptionBox {
      flex-direction: column;
      align-items: flex-start; }
    #gameAddBox > div.gameButtonBox {
      justify-content: flex-end; }
      #gameAddBox > div.gameButtonBox > button {
        cursor: pointer;
        color: #FAFAFA;
        margin-left: .3rem;
        background-color: #A91717;
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        border: 0; }
        #gameAddBox > div.gameButtonBox > button:last-child {
          background-color: #2C17A9; }
    #gameAddBox > div > p {
      font-weight: lighter;
      display: flex;
      align-items: center;
      font-size: 2.4rem; }
    #gameAddBox > div > input {
      border: 1px solid #777;
      width: 46rem;
      height: 2.9rem; }
    #gameAddBox > div > textarea {
      margin-top: 1.1rem;
      width: 100%;
      border: 1px solid #777;
      height: 22rem;
      resize: none; }

body > section {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 120rem;
  height: 100vh; }
  body > section article {
    display: flex;
    flex-direction: column;
    height: 40%; }
    body > section article:nth-child(2) {
      height: 60%; }
    body > section article > div {
      display: flex;
      align-items: center; }
      body > section article > div:first-child {
        color: aliceblue;
        padding-left: 2rem;
        font-size: 3rem;
        height: 20%; }
      body > section article > div:nth-child(2) {
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #B0B0B0;
        border-radius: 2rem;
        background-color: #FFFFFF;
        width: 100%;
        height: 80%; }
        body > section article > div:nth-child(2).gameTable {
          margin-bottom: 4rem; }
        body > section article > div:nth-child(2) > div {
          overflow-y: scroll;
          height: calc(90% - 5rem);
          width: 104.5rem; }
          body > section article > div:nth-child(2) > div:first-child {
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 5rem; }
            body > section article > div:nth-child(2) > div:first-child > div {
              width: 104.5rem; }
              body > section article > div:nth-child(2) > div:first-child > div > #addGameButton {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                border-radius: .5rem;
                width: 15rem;
                right: 0;
                position: absolute;
                font-size: 2rem;
                color: #FAFAFA;
                background-color: #2C17A9; }
              body > section article > div:nth-child(2) > div:first-child > div:nth-child(1) {
                background-color: #FFFFFF; }
                body > section article > div:nth-child(2) > div:first-child > div:nth-child(1) > p {
                  font-size: 2.4rem; }
          body > section article > div:nth-child(2) > div > div {
            position: relative;
            display: flex;
            align-items: center;
            height: 3.5rem; }
            body > section article > div:nth-child(2) > div > div > .viewBox {
              z-index: 2;
              position: relative;
              overflow: hidden;
              border: 1px solid #222;
              border-radius: 5rem;
              height: 2rem;
              width: 4.5rem; }
              body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff {
                cursor: pointer;
                transition: all .2s;
                left: calc(100% - 2rem);
                position: absolute;
                background-color: #FFFFFF;
                margin-left: -1px;
                margin-top: -1px;
                border-radius: 50%;
                border: 1px solid #222;
                width: 2rem;
                height: 2rem; }
                body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff::after {
                  margin-left: 1rem;
                  position: absolute;
                  z-index: -1;
                  height: 2.4rem;
                  width: 4.5rem;
                  background-color: #bababae9;
                  content: ""; }
                body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff::before {
                  margin-left: -1rem;
                  transform: translate(calc(-100% + 2rem), 0);
                  position: absolute;
                  z-index: -1;
                  height: 2.4rem;
                  width: 4.5rem;
                  background-color: #2C17A9;
                  content: ""; }
                body > section article > div:nth-child(2) > div > div > .viewBox > .viewOnOff.turnOff {
                  left: 0; }
            body > section article > div:nth-child(2) > div > div > .buttonBox {
              display: flex;
              align-items: center;
              height: 100%;
              right: 0;
              position: absolute; }
              body > section article > div:nth-child(2) > div > div > .buttonBox > button {
                cursor: pointer;
                color: #FAFAFA;
                margin-right: .3rem;
                background-color: #2C17A9;
                border-radius: .5rem;
                font-size: 1.6rem;
                width: 7.3rem;
                height: 3rem;
                border: 0; }
                body > section article > div:nth-child(2) > div > div > .buttonBox > button:last-child {
                  background-color: #A91717; }
            body > section article > div:nth-child(2) > div > div > p {
              height: 100%;
              width: 24.3rem;
              font-size: 1.6rem;
              display: flex;
              align-items: center; }
              body > section article > div:nth-child(2) > div > div > p:nth-child(4) {
                width: 6rem; }
            body > section article > div:nth-child(2) > div > div:nth-child(odd) {
              background-color: #E3E3E3; }

/*# sourceMappingURL=admin.css.map */
