.BottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: #FAFAFA;
    border-top: 1px solid #AAA;
    width: 100%;
    height: 20rem;

    &>article {
        & > div {
            padding-top: 1rem;
        }
        &:nth-child(1) {
            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                &>p {
                    font-size: 1.6rem;
                }
            }
        }
        &:nth-child(2) {
            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
                &>p {
                    font-size: 1.6rem;
                }
                & > a {
                    font-size: 1.2rem;
                }
            }
        }
        &:nth-child(3) {
            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
                &>p {
                    font-size: 1.2rem;
                    &:nth-child(1) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        &:nth-child(4) {
            padding-bottom: 1rem;
            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
                &>p {
                    font-size: 1.2rem;
                    &:nth-child(1) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}