.GameSelectionSection {
    margin-top: 9.1rem;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-top: 0;
    border-bottom: 0;
    min-height: 100%;
    width: 120rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    & > article {
        display: inline-block;
        width: calc(100% - 10rem);
        padding: 0 5rem 0 5rem;
        min-height: 50rem;
        & > .gameTag {
            display: inline-block;
            font-weight: 600;
            font-size: 2.5rem;
            padding: 5rem 0 5rem .7rem;
        }
        
        & > .gameListBox {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            height: 26.5rem;
            &.heightFlag {
                height: auto;
            }
            & > div {
                cursor: pointer;
                width: 20rem;
                margin-bottom: 2rem;
                margin-left: calc((100%/5 - 20rem) / 2);
                margin-right: calc((100%/5 - 20rem) / 2);

                & > img {
                    background-color: #d6d6d6;
                    height: 20rem;
                    width: 20rem;
                }
                & > p {
                    padding-top: .3rem;
                    font-size: 1.6rem;
                }
            }
        }
        & > .gamePlusViewButtonBox {
            padding: 5rem 0 5rem 0;
            display: flex;
            justify-content: center;
            & > button {
                cursor: pointer;
                border-radius: 5rem;
                font-size: 1.6rem;
                background-color: transparent;
                border: 1px solid #2000EA;
                color: #2000EA;
                width: 14.5rem;
                height: 5rem;
            }
        }
    }
}
