.GameSelectionSection {
    margin-top: 9.1rem;
    display: inline-block;
    box-sizing: border-box;
    background-color: #FAFAFA;
    min-height: 100%;
    width: 120rem;
    padding-bottom: 5rem;
    margin-left: 50%;
    transform: translate(-50%, 0);

    & > article {
        display: inline-block;
        width: calc(100% - 10rem);
        padding: 0 0rem 2rem 0rem;
        min-height: 30rem;
        &.newGames {
            overflow: hidden;
            display: flex;
            width: 100vw;
            height: 64.6rem;
            margin: 0;
            margin-left: calc((100vw - 120rem) / -2);
            align-items: center;
            justify-content: center;

            & > .gameList {
                position: relative;
                display: flex;
                width: auto;
                height: 52rem;
                //left: calc(-1267.2px*3);
                & > div {
                    height: 100%;
                    width: auto;
                    display: flex;
                    &>div {
                        margin: 0 8rem 0 8rem;
                        border-radius: 2rem;
                        width: 120rem;
                        height: 100%;
                    }
                }
            }
        }
        &.popularGames {
            width: 100%;
            & > .gameList {
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                &>.gameBox {
                    cursor: pointer;
                    margin-bottom: 3rem;
                    background-color: #D9D9D9;
                    width: 38rem;
                    height: 38rem;
                    border-radius: 2rem;
                }
            }
        }
        &.allGames {
            width: 100%;
            & > .gameTagBox {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                & > p {
                    cursor: pointer;
                    margin-left: 1.5rem;
                    display: inline-block;
                    border: 1px solid #CCCCCC;
                    font-weight: 100;
                    color: #666666;
                    border-radius: 10rem;
                    font-size: 2rem;
                    padding: .55rem 3.7rem .55rem 3.7rem;
                    &:first-child {
                        margin: 0;
                    }
                    &.selecttionFlag {
                        background-color: #2C17A9;
                        border-color: #2C17A9;
                        color: #fff;
                    }
                }
            }
        }
        & > .gameTag {
            display: inline-block;
            font-weight: 600;
            font-size: 2.5rem;
            padding: 3rem 0 3rem .7rem;
        }
        
        & > .gameListBox {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            height: 23.5rem;
            &.heightFlag {
                height: auto;
            }
            & > a  {
                cursor: pointer;
                width: 20rem;
                margin-bottom: 2rem;
                margin-left: calc((100%/5 - 20rem) / 2);
                margin-right: calc((100%/5 - 20rem) / 2);

                & > img {
                    background-color: #d6d6d6;
                    height: 20rem;
                    width: 20rem;
                }
                & > p {
                    padding-top: .3rem;
                    font-size: 1.6rem;
                }
            }
        }
        & > .gamePlusViewButtonBox {
            padding: 2rem 0 0 0;
            display: flex;
            justify-content: center;
            & > button {
                cursor: pointer;
                border-radius: 5rem;
                font-size: 1.6rem;
                background-color: transparent;
                border: 1px solid #2000EA;
                color: #2000EA;
                width: 14.5rem;
                height: 5rem;
            }
        }
    }
}
