.TopSection {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
    height: 9.1rem;
}
.topContentArticle {
    height: 100%;
    width: 120rem;
    display: flex;
    & > div {
        display: flex;
        align-items: center;
        height: 100%;
    }
    & > .topLeftBox {
        overflow: hidden;
        width: 30%;
        & #menu {
            cursor: pointer;
        }
        & #logo {
            cursor: pointer;
            margin-left: 1rem;
        }
    }
    & > .topCenterBox {
        width: 40%;
        justify-content: center;
        & > .searchBox {
            border-radius: 5rem;
            padding: 1rem 2rem 1rem 2rem;
            height: 3rem;
            max-width: 50rem;
            width: 100%;
            display: flex;
            border: 2px solid #2000E2;
            &>input {
                background-color: transparent;
                font-size: 1.6rem;
                width: 100%;
                border: 0;
                outline: none;
            }
            & > #searchButton {
                cursor: pointer;
            }
        }
    }
    & > .topRightBox {
        position: relative;
        justify-content: flex-end;
        width: 30%;
        & > p {
            cursor: pointer;
            padding: 1rem;
            font-size: 1.6rem;
        }
        & > img {
            cursor: pointer;
        }
        & > #userBox {
            display: none;
            list-style: none;
            z-index: 1;
            position: absolute;
            border: 1px solid #EAEAEA;
            background-color: #FAFAFA;
            top: 100%;
            &.displayFlag {
                display: block;
            }
            & > li {
                padding: 1rem 2rem 1rem 2rem;
                cursor: pointer;
                font-size: 1.6rem;
                &:hover {
                    background-color: rgba(#2000E2, .04);
                }
            }
        }
    }
}