.TopSection {
    z-index: 10;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #FAFAFA;
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
    height: 9.1rem;
    &.inGame {
        position: absolute;
    }
}

.topContentArticle {
    height: 100%;
    width: 120rem;
    display: flex;
    & > div {
        display: flex;
        align-items: center;
        height: 100%;
    }
    & > .topLeftBox {
        overflow: hidden;
        width: 30%;
        & #menu {
            cursor: pointer;
        }
        & #logo {
            margin-top: .3rem;
            cursor: pointer;
        }
    }
    & > .topCenterBox {
        width: 50rem;
        justify-content: center;
        & > .searchBox {
            border-radius: 5rem;
            padding: 1rem 2rem 1rem 2rem;
            height: 2.5rem;
            width: 50rem;
            display: flex;
            border: 2px solid #DDDDDD;
            &>input {
                background-color: transparent;
                font-size: 1.6rem;
                width: 100%;
                border: 0;
                outline: none;
            }
            & > #searchButton {
                cursor: pointer;
            }
        }
    }
    & > .topRightBox {
        position: relative;
        justify-content: flex-end;
        width: 30%;
        & > p {
            cursor: pointer;
            padding: 1rem;
            font-size: 1.6rem;
        }
        & > img {
            width: 3rem;
            height: 3rem;
            cursor: pointer;
        }
        & > div {
            display: flex;
            width: 14rem;
            & > button {
                cursor: pointer;
                width: 8.2rem;
                height: 3rem;
                color: #2000E2;
                background-color: transparent;
                font-size: 1.5rem;
                border: 1px solid #2000E2;
                border-radius: 5rem;
            }
            &#menuBox {
                margin-top: .3rem;
                cursor: pointer;
                display: inline;
                width: auto;
            }
            & > div {
                display: flex;
                margin-left: 1.5rem;
                & > p {
                    padding-left: .5rem;
                    font-size: 1.5rem;
                }
            }
        }
        & > #userBox {
            display: none;
            list-style: none;
            z-index: 1;
            position: absolute;
            border: 1px solid #EAEAEA;
            background-color: #FAFAFA;
            top: 100%;
            &.displayFlag {
                display: block;
            }
            & > li {
                padding: 1rem 2rem 1rem 2rem;
                cursor: pointer;
                font-size: 1.6rem;
                &:hover {
                    background-color: rgba(#2000E2, .04);
                }
            }
        }
    }
}