.ShootingCat {
    display: flex;
    //justify-content: space-evenly;
    justify-content: center;
    height: 85vh;
    max-height: 89.9rem;

    &>#gameDisplay {
        box-sizing: border-box;
        background-color: #4DBBDC;
        aspect-ratio: 5/8.89;
        height: 100%;
        max-height: 89.9rem;

        &.startDisplay {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>.gameLogoBox {
                height: 49.38271604938272%;
                aspect-ratio: 3/4;
                display: flex;
                align-items: center;
                justify-content: center;
                & > img {
                    width: 100%;
                    aspect-ratio: 3/2;
                }
            }
            &>.buttonBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                aspect-ratio: 1/1.2;
                height: 44.44444444%;
                
                &>button {
                    cursor: pointer;
                    background-color: transparent;
                    border: 0;
                    width: 100%;
                    aspect-ratio: 3/1;

                    &>img {
                        height: 100%;
                        width: 100%;
                        border-radius: 3rem;
                    }
                }
            }
        }
        &.endDisplay {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>.gameScoreoBox {
                position: relative;
                height: 49.38271604938272%;
                aspect-ratio: 3/4;
                display: flex;
                align-items: center;
                justify-content: center;
                & > img {
                    width: 100%;
                    aspect-ratio: 3/2;
                }
                & > div {
                    bottom: 20%;
                    font-weight: 900;
                    font-size: 10vh;
                    font-family: 'DotGothic16', sans-serif;
                    position: absolute;
                    color: #62d4f7;
                    text-shadow:  -2px 3px 0px #7ce94a;
                    text-shadow:  -2px 3px 4px #368298, -4px 6px 0px #337a90, -6px 8px 0px #3C2415;
                }
            }
            &>.buttonBox {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                aspect-ratio: 1/1.2;
                height: 44.44444444%;
                
                &>button {
                    cursor: pointer;
                    margin-top: 3rem;
                    background-color: transparent;
                    border: 0;
                    width: 100%;
                    aspect-ratio: 3/1;

                    &>img {
                        height: 100%;
                        width: 100%;
                        border-radius: 3rem;
                    }
                }
            }  
        }
    }

    &>.gameLeft,
    .gameRight {
        background-color: #4DBBDC;
        aspect-ratio: 3.5/8.89;
        height: 100%;
        max-height: 89.9rem;
    }
}